###################################
### .gitignore for Keil uVision ###
###################################


# exclude annoying stuff from OS
# ==============================
#
# exclude annoying stuff: DOSe
System\ Volume\ Information
**/Thumbs.db
**/*.swp
#
# exclude annoying stuff: Mac OS X
**/.DS_Store

# (re-)include (only for safety's sake - since it has NOT been excluded before)
!.gitignore
